/*colors*/

:root {
    --color-cream-1: #f2ebe3;
    --color-green-1: #3c8067;
    --color-green-2: #1a4031;
    --color-blue-1: #1c232b;
    --color-gray-1: #6c7289;
}

*{
    box-sizing:border-box;
}

body {
    background-color: var(--color-cream-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

h1 {
    font: 2rem 'Fraunces', serif;
    color:var(--color-blue-1);
    padding-right:1rem;
}

p, h3 {
    font: 14px 'Montserrat', sans-serif;
    color: var(--color-gray-1);
}

.previewcard {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    max-height:500px;
    max-width:60%;
    overflow:hidden;
    border-radius: 10px;
    animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.cardimg {
    width: 50%;
    height: 100%;
}

    .cardimg img.desktop {
        display: block;
        width: 350px;
        height: 500px;
        object-fit: cover;
    }

    .cardimg img.mobile {
        object-fit: cover;
        display: none;
    }

.carddetail {
    background-color:white;
    display:flex;
    flex-direction:column;
    padding:2rem;
    width:100%;
}

.price{
    display:flex;
    flex-direction:row;
    padding-top:1rem;
}

.price h1 {
    color: var(--color-green-1);
}

.price h3 {
    text-decoration: line-through var(--color-gray-1);
    padding:1.5rem;
}

button {
    font: 1rem 'Montserrat', sans-serif;
    background-color: var(--color-green-1);
    color: white;
    width: 300px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

    button:hover {
        background-color: var(--color-green-2);
    }

.attribution {
    font: 1rem;
    text-align: center;
    padding:2rem;
}

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

/*mobile*/
@media only screen and (max-width:800px) {
    .previewcard {
        flex-direction: column;
        align-items: center;
        max-height: 50%;
        max-width: 500px;
    }

    .cardimg {
        width:100%;
        height:50%;
    }

        .cardimg img.desktop {
            display:none;
        }
        .cardimg img.mobile {
            width:inherit;
            height:20rem;
            display: block;
        }
    button {
        width: 100%;
    }
}